/.vscode/
/bin/
/db/
/lib/
/log/
/public/
/storage/
/test/
/tmp/
/vendor/
/app/assets/
/app/channels/application_cable/
/app/helpers/
/app/jobs/
/app/mailers/

/app/javascript/
/routes.txt
/config.ru
/Rakefile
/Gemfile
/Gemfile.lock
/.tool-versions
/.ruby-version

config/*
!config/routes.rb
!config/database.yml