<head>
  <%= stylesheet_link_tag "student_home","instructor_index" %>
  <title>Student Home</title>
</head>
<body>
  <main>
    <h2 class="course-all-title">Your Courses</h2>
    <main class="course-list">
        <% if current_student.courses.empty? %>
            <p class="no-courses">You have no courses yet.</p>
        <% else %>
            <%= render partial: "layouts/courses_show", collection: current_student.courses, as: :course %>
        <% end %>
    </main>
  </main>
</body>
