<!-- 500.html -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500 - Internal Server Error</title>
  <%= stylesheet_link_tag 'errors.css' %>
</head>
<body class="error-body">

  <div class="error-container">
    <h1 class="error-h1">500</h1>
    <p lass="error-p">Oops! Internal Server Error.</p>
  </div>

</body>
