<!-- 422.html -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>422 - Oops</title>
  <%= stylesheet_link_tag 'errors.css' %>
</head>

<body class="error-body">
  <div class="error-container">
    <h1 class="error-h1">422</h1>
    <p class="error-p">Oops! There was an error.</p>
  </div>
</body>

