<head>
  <title>Courses</title>
  <%= stylesheet_link_tag "index_courses.css" %>
</head>
<body>
    <h1 class="all-courses">All Courses</h1>

    <main class="course-list">
      <%if @courses.empty? %>
        <h2 class="no-courses">No courses yet</h2>
      <% else %>
      <%= render partial: "layouts/courses_show", collection: @courses, as: :course %>
      <% end %>
    </main>
    <%= link_to "Back", authenticated_instructor_root_path, class: "button" %>
    <br><br><br><br>
</body>

